{% extends 'base.html' %} {% block title %}Edit {{tag.name}}{% endblock %} {%
block page_name %} Edit a tag {% endblock %} {% block content %}
<form class="container row col-5">
  <div class="container row py-3 justify-content-start">
    <label for="tag_name">Name:</label>
    <input
      type="text"
      id="tag_name"
      name="tag_name"
      placeholder="Enter a name for the tag"
      value="{{tag.name}}"
    />
  </div>
  <div class="row justify-content-end">
    <div class="col-2">
      <button formaction="/tags" formmethod="GET" class="btn btn-info">
        Cancel
      </button>
    </div>
    <div class="col-2">
      <button
        formaction="/tags/{{tag.id}}/edit"
        formmethod="POST"
        class="btn btn-success"
      >
        Edit
      </button>
    </div>
  </div>
</form>
{% endblock %}
