{% extends 'base.html' %} {% block title %}Create A New User{% endblock %} {%
block page_name %} Create a user {% endblock %} {% block content %}
<form action="/users/new" method="POST">
  <div class="mb-3">
    <label for="first_name">First Name: </label>
    <input
      type="text"
      name="first_name"
      id="first_name"
      placeholder="Enter a first name"
    />
  </div>
  <div class="mb-3">
    <label for="first_name">Last Name: </label>
    <input
      type="text"
      name="last_name"
      id="last_name"
      placeholder="Enter a last name"
    />
  </div>
  <div class="mb-3">
    <label for="first_name">Image URL: </label>
    <input
      type="text"
      name="image_url"
      id="image_url"
      placeholder="Provide an image url"
    />
  </div>
  <button type="submit" class="btn btn-success">Add</button>
  <a href="/users" class="btn btn btn-outline-dark" id="cancel-new-user"
    >Cancel</a
  >
</form>
{% endblock %}
