{% extends 'base.html' %} {% block title %}New Post{% endblock %} {% block
page_name %} Add Post for {{user.full_name}} {% endblock %} {% block content %}
<form action="/users/{{user.id}}/posts/new" , method="POST">
  <div class="container row col-6 justify-content-start">
    <div id="title" class="row">
      <label for="title-field">Title: </label>
      <input
        type="text"
        placeholder="Enter Title Here"
        id="title-field"
        name="title"
      />
    </div>
    <div id="content" class="row py-2">
      <label for="content-field">Content: </label>
      <textarea
        type="text"
        placeholder="Enter content here!"
        id="content-field"
        name="content"
      ></textarea>
    </div>
    <div class="form-check py-2">
      {% for tag in tags %}
      <div>
        <input
          class="form-check-input"
          type="checkbox"
          id="{{tag.id}}"
          value="{{tag.id}}"
          name="tags-added"
        />
        <label class="form-check-label" for="tag_{{tag.id}}"
          >{{tag.name}}</label
        >
      </div>
      {% endfor %}
    </div>
    <div id="buttons" class="row justify-content-end">
      <div class="col-2 my-2">
        <a href="/users/{{user.id}}" role="button" class="btn btn-info"
          >Cancel</a
        >
      </div>
      <div class="col-2 my-2">
        <button type="submit" class="btn btn-success">Add</button>
      </div>
    </div>
  </div>
</form>
{% endblock %}
