{% extends 'base.html' %} {% block title %}{{post.title}}{% endblock %} {% block
page_name %} {{post.title}} {% endblock %} {% block content %}
<p>{{post.content}}</p>
<h5 class="fst-italic fw-normal fs-5">By {{user.full_name}}</h5>
<h5 class="fst-italic fw-bold fs-6 py-2">
  Tags: {% if post.tags %}{% for tag in post.tags %}<a href="/tags/{{tag.id}}"
    ><i class="badge rounded-pill bg-primary py-2 mx-1">{{tag.name}}</i></a
  >{% endfor %}{% else %}None assigned!{% endif %}
</h5>
<form>
  <button
    formaction="/users/{{user.id}}"
    formmethod="GET"
    class="btn btn-outline-primary"
  >
    Cancel
  </button>
  <button
    formaction="/posts/{{post.id}}/edit"
    formmethod="GET"
    class="btn btn-primary"
  >
    Edit
  </button>
  <button
    formaction="/posts/{{post.id}}/delete"
    formmethod="POST"
    class="btn btn-danger"
  >
    Delete
  </button>
</form>

{% endblock %}
