{% extends 'base.html' %} {% block title %}User Detail{% endblock %} {% block
page_name %} User Detail {% endblock %} {% block content %}

  <div class="row">
    <div class="px-2 col-3">
      <img
        src="{{user.image_url}}"
        alt="Profile Picture"
        width="175"
        height="175"
      />
    </div>
    <div class="container col mx-2">
      <div class="row">
        <h2 class="fs-2">{{user.full_name}}</h2>
      </div>
      <div class="row container">
        <form class="row">
          <div class="col-1">
            <button formaction="/users/{{user.id}}/edit" class="btn btn-primary" formmethod="GET"
              >Edit</button
            >
          </div>
          <div class="col">
            <button formaction="/users/{{user.id}}/delete" class="btn btn-danger" formmethod="POST"
              >Delete</button
            >
          </div>
        </form>
      </div>
      <div class="row pt-2">
        <h3 class="fs-3">Posts</h3>
      </div>
      <div class="row pb-3 px-4">
        {% if posts %}
        <ul">
          {% for post in posts %}
          <li><a href="/posts/{{post.id}}">{{post.title}}</a></li>
          {% endfor %} {% else %}
          <li>No Posts to display!</li>
          {% endif %}
        </ul>
      </div>
      <div class="row px-2">
        <a href="/users/{{user.id}}/posts/new" class="btn btn-primary col-3" role="button">Add Post</a>
      </div>
    </div>
  </div>

{% endblock %}
