{% extends 'base.html' %} {% block title %}Gameplay and Rules{% endblock %} {%
block content %}
<div class="rules-page container-row">
  <div class="rules-text container-column smoketext">
    <h1>Gameplay and Rules</h1>
    <h3>Gameplay:</h3>
    <!-- All gameplay and rules modified from https://www.ultraboardgames.com/boggle/game-rules.php obtained 7 Feb 2021 -->
    <p>
      When the timer starts, each player searches the assortment of letters for
      words of three letters or more. When a player finds a word, they enter it
      in the text box and press submit. Words are formed from adjoining letters.
      Letters must join in the proper sequence to spell a word. They may join
      horizontally, vertically, or diagonally, to the left, right, or
      up-and-down. No letter cube, however, may be used more than once within a
      single word.
    </p>
    <h3>Finding Words:</h3>
    <p>
      Search the assortment of letters for words of three or more letters. Words
      are formed from letters that adjoin in sequence horizontally, vertically
      or diagonally in any direction. No letter may be used more than once
      within a single word. When you find a word, enter it in the text box and
      press submit. Keep looking and entering until time's up.
    </p>
    <h3>Types of words allowed:</h3>
    <p>
      Any words (noun, verb, adjective, adverb, etc.), plural of, form of, or
      tense is acceptable as long as it can be found in a standard English
      dictionary. Words within words are also allowed: spare, spa, par, are,
      spar, pare. Proper nouns (Smith, Ohio, France, etc). are not allowed.
    </p>
    <a href="/">Go back to home</a>
  </div>
</div>
{% endblock %}
